*.bak
*.db
*.pyc
*.sqllite
*.swp
__pycache__

.local
.cache
.bento*
.cache-loader
.coverage
cover
.DS_Store
.eggs
.env
.envrc
.idea
.mypy_cache
.python-version
.tox
.vscode
_build
_images
_modules
_static
build
app.db
apache_superset.egg-info/
changelog.sh
dist
dump.rdb
env
venv*
env_py3
envpy3
env36
local_config.py
tmp
rat-results.txt

# For country map geojson conversion script
.ipynb_checkpoints/
scripts/*.zip

# IntelliJ
*.iml
venv
@eaDir/

# PyCharm
.run

docker/requirements-local.txt

cache/
docker/*local*

.temp_cache

# Jest test report
test-report.html

notice_cache.json